<h1 class="text-left">Benutzer {{entry.id ? 'bearbeiten' : 'anlegen'}} </h1>

<form>

    <div class="form-group text-left">
        <label>Benutzername *</label>
        <input type="text" name="username" class="form-control" [(ngModel)]="entry.username" [disabled]="entry.id" required>
    </div>

    <div class="form-group text-left">
        <label>Email *</label>
        <input type="email" pattern="[/^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/]*" name="email" class="form-control" [(ngModel)]="entry.email" required>

    </div>

    <div class="form-group text-left">
        <label>Standorte</label>
        <div class="row" *ngFor="let location of metadata.locations">
            <div class="col-lg-12 custom-checkbox">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input type="checkbox"  aria-label="..." (change)="updateChecked(location,$event)">
                    </span>
                    <input type="text" class="form-control" placeholder="{{location.name}}" readonly>
                </div>
            </div>
        </div>

    </div>

    <div class="form-group text-left" [ngClass]="{error: error}">
        <label>Neues Kennwort</label>
        <input type="password" name="password1" class="form-control" [(ngModel)]="password1">
        <div style="margin-top:6px">
            <input type="password" name="password2" class="form-control" [(ngModel)]="password2">
            <span *ngIf="!validpassword" class="help-block"><i>Invalid Password</i></span>
            <span *ngIf="entry.id" class="help-block"><i>Kennwort muss nur angegeben werden, wenn es geändert werden
                soll.</i></span>
        </div>
    </div>


    <div class="form-actions">
        <button class="btn btn-primary-customized pull-left" (click)="save()" style="margin-right:3px">Speichern</button>
        <button class="btn btn-default pull-left" [routerLink]="['/users']">Abbbrechen</button>
        <button class="btn btn-danger-customized pull-right" (click)="remove(entry.id)" *ngIf="entry.id">Löschen</button>
    </div>
</form>