<h1 class="text-left">Benutzer</h1>
<table class="table table-striped table-bordered">
    <tr>
        <th>Benutzername</th>
        <th>Email</th>
        <th>&#160;</th>
    </tr>
    <tr class="text-left" *ngFor="let user of users">
        <td>{{user.username}}</td>
        <td>{{user.email}}</td>
        <td align="right">
            <a class="btn btn-sm btn-default" [routerLink]= "['/users', user.id ]">Bearbeiten </a>
            <button class="btn btn-sm btn-danger-customized btn-delete" (click)="remove(user.id)">Löschen</button>
        </td>
    </tr>
</table>

<div class="text-left">
  <a class="btn btn-primary-customized" [routerLink]="['/users/edit']">Neuen Benutzer anlegen</a>
</div>
