<div *ngIf="entry">
    <h1 align="left">
        Terminanfrage {{state.edit ? 'bearbeiten' : 'anzeigen'}}
        <div class="btn-box-right" align="right">
            <button class="btn btn-danger-customized" *ngIf="state.edit" (click)="remove(entry.id)">Löschen</button>
            <button class="btn btn-default" *ngIf="state.edit" (click)="unlock(entry.id)">Entsperren</button>
        </div>
    </h1>
    <div class="row" align="left">
        <small class="col-sm-10">Erstellt am: {{entry.createdAt | date :'dd.MM.yyyy, HH:mm'}}</small>
    </div>
    <div class="row" align="left">
        <small class="col-sm-10">Zuletzt geändert: {{entry.updatedAt | date :'dd.MM.yyyy, HH:mm'}}</small>
    </div>

    <hr>

    <div class="alert alert-danger" *ngIf="state.doctorWarning">Bitte wählen Sie zuerst einen behandelnden Arzt aus.</div>

    <div class="row" align="left">
        <label class="col-sm-2">Status</label>
        <p class="col-sm-10"><em>{{entry.state | filter:'state' }}</em></p>

    </div>

    <div class="row" align="left">
        <label class="col-sm-2">Thema</label>
        <p class="col-sm-10">{{entry.topic}}</p>
    </div>
    <div class="row" align="left">
        <label class="col-sm-2">Arzt</label>
        <!-- <div class="dropdown col-sm-10" *ngIf="entry.dates && entry.dates.length > 0 && !state.newDates && state.edit && entry.state != 'waiting_for_client'" dropdown>-->
        <div class="dropdown col-sm-10" *ngIf="entry.dates && entry.dates.length > 0 && state.edit" dropdown>
            <button class="btn {{state.doctorWarning ? 'btn-danger-customized' : 'btn-default'}}" type="button" (click)="state.doctorWarning = false" dropdownToggle>
            {{!entry.doctor ? 'Noch nicht bestimmt' : entry.doctor}} <span class="caret"></span>
        </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdown-list" dropdownMenu>
                <li role="menuitem"><a (click)="entry.doctor = undefined">Noch nicht bestimmt</a></li>
                <li class="divider dropdown-divider"></li>
                <li role="menuitem" (click)="entry.doctor = doctor.name" *ngFor="let doctor of metadata.doctors"><a>{{doctor.name}}</a></li>
            </ul>
        </div>
        <div class="col-sm-10" *ngIf="state.edit && (entry.state == 'waiting_for_client' || entry.state == 'new')">Zuerst Termine abstimmen</div>
        <div class="col-sm-10" *ngIf="!state.edit">{{entry.doctor}}</div>
    </div>


    <div class="row" align="left">
        <label class="col-sm-2">Standort</label>
        <p class="col-sm-10">{{entry.location}}</p>
    </div>
    <div class="row" align="left">
        <label class="col-sm-2">Nachricht vom Patienten</label>
        <p class="col-sm-10">{{entry.text}}</p>
    </div>

    <h3 align="left">Patient</h3>
    <div class="row" align="left">
        <label class="col-sm-2">Name</label>
        <p class="col-sm-10">{{entry.patient.firstName}} {{entry.patient.lastName}}</p>
    </div>
    <div class="row" align="left">
        <label class="col-sm-2">Adresse</label>
        <p class="col-sm-10">{{entry.patient.street}} {{entry.patient.streetNumber}} <br> {{entry.patient.zipCode}} {{entry.patient.city}}</p>
    </div>
    <div class="row" align="left">
        <label class="col-sm-2">Telefon</label>
        <p class="col-sm-10">{{entry.patient.phone1}} <br> {{entry.patient.phone2}}</p>
    </div>
    <div class="row" align="left">
        <label class="col-sm-2">Versicherung</label>
        <p class="col-sm-10">{{entry.patient.insurance}}</p>
    </div>
    <div class="row" align="left">
        <label class="col-sm-2">Email</label>
        <p class="col-sm-10">{{entry.patient.email}}</p>
    </div>

    <div style="padding-top:18px" *ngIf="entry.state == 'waiting_for_server' || entry.state == 'new' && entry.provideSuggestions">
        <p class="lead" align="left">Patient wartet auf Terminvorschläge</p>
    </div>

    <div *ngIf="!state.newDates">
        <h3 align="left">Terminvorschläge</h3>

        <table class="table table-striped table-bordered" style="width:auto">
            <tr>
                <th>Datum</th>
            </tr>
            <tr *ngFor="let date of entry.dates">
                <td>
                    {{date | date: 'dd.MM.yyyy, HH:mm'}}
                    <button class="btn btn-sm btn-default" (click)="confirm(entry.id, date, entry.doctor)" *ngIf="state.edit && (entry.state == 'waiting_for_server' || entry.state == 'new')">Bestätigen
                </button>
                </td>
            </tr>
        </table>
        <div align="left">
            <button class="btn btn-sm btn-default" *ngIf="state.edit" (click)="state.newDates = true">Oder neue Vorschläge
        unterbreiten
    </button>

        </div>

    </div>
    <div *ngIf="state.newDates">
        <h3 align="left">Neue Terminvorschläge</h3>

        <div class="row calanderWrapper">
            <div>
                <div *ngIf="showcalander" class="calendar" style="display:inline-block; min-height:290px;">
                    <datepicker [(ngModel)]="date"></datepicker>
                    <timepicker [(ngModel)]="date"></timepicker>
                    <div class="custom-button">
                        <button class="btn btn-default" *ngIf="state.edit" (click)="showCalander()">Abbrechen</button>
                        <button class="btn btn-primary-customized custom-ok-button" *ngIf="state.edit" (click)="saveDateSuggestions(date)">Ok</button>
                    </div>

                </div>
            </div>
            <div class="col-xs-4">
                <table class="table table-striped table-bordered">
                    <tr>
                        <th>Datum</th>
                        <th>&#160;</th>
                    </tr>
                    <tr style="margin-top: 8px" *ngFor="let date of state.dates;  let i = index">

                        <td align="left">
                            <button type="button" (click)="showCalander()" class="btn btn-default">
                                <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                            </button>
                            <span style="font-weight: bold; padding-left: 8px">{{date | date :'dd.MM.yyyy, HH:mm'}}</span>
                        </td>
                        <td align="left">
                            <button type="button" class="btn btn-default" *ngIf="i == state.dateRange - 1" [disabled]="!date" aria-label="Add" (click)="incrementDateRange()">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </button>
                        </td>
                    </tr>
                </table>
            </div>

        </div>
        <div class="row" style="margin-top: 8px; margin-bottom: 16px" align="left">
            <div class="col-xs-3">
                <button class="btn btn-default" *ngIf="state.edit" (click)="cancleDates()">Abbrechen</button>
                <button class="btn btn-primary-customized" *ngIf="state.edit" (click)="saveAndConfirm()">Speichern</button>
            </div>
        </div>

    </div>

</div>