<form class="form-signin">
    <h2 class="form-signin-heading" align="left">Anmeldung</h2>
    <label for="inputUsername" class="sr-only">Benutzername</label>
    <input type="text" id="inputUsername" class="form-control" placeholder="Benutzername" required autofocus [(ngModel)]="username" name="username">
    <label for="inputPassword" class="sr-only">Passwort</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Passwort" required [(ngModel)]="password" name="password">
    <button class="btn btn-lg btn-primary-customized btn-block" (click)="logIn(username, password)">Anmelden</button>
</form>