<main>
    <nav class="navbar navbar-default navbar-fixed-top" *ngIf="isAuthenticated">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
                <a class="navbar-brand" [routerLink]="['/dashboard']">Dashboard</a>

            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li [ngClass]="{ active: isActive('/appointments')}" align="left"><a [routerLink]="['/appointments']">Terminanfragen</a></li>
                    <li [ngClass]="{ active: isActive('/prescriptions')}" align="left"><a [routerLink]="['/prescriptions']">Rezeptanfragen</a></li>
                    <li *ngIf="isAdmin" [ngClass]="{ active: isActive('/users')}" align="left"><a [routerLink]="['/users']">Benutzer</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li align="left" style="margin-left: 15px">Angemeldet als <b>{{userData.username}}</b>. <button type="button" class="btn btn-default btn-sm navbar-btn" (click)="logout()">Abmelden</button></li>
                </ul>
            </div>
        </div>
    </nav>


    <div class="container">
        <errors-container [errors]="errors"></errors-container>
        <router-outlet></router-outlet>
    </div>


    <footer class="footer" *ngIf="isAuthenticated">
        <div class="container">
            <p class="text-muted">Created by <a style="color:inherit" href="http://www.icnh.de" target="_blank">I.C.N.H GmbH</a></p>
        </div>
    </footer>
</main>