main {
    padding: 1em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 50px;
    display: block;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
}

.footer>.container {
    padding-right: 15px;
    padding-left: 15px;
}

body>.container {
    padding: 60px 15px 0;
}

.container .text-muted {
    margin: 20px 0;
}

.calanderWrapper {
    position: relative;
}

.calendar {
    position: absolute;
    bottom: -352px;
    left: 15px;
    z-index: 1;
    width: 360px;
}

code {
    font-size: 80%;
}

.btn-danger-customized {
    color: #d43f3a;
    background-color: #fff;
    border-color: #d43f3a;
}

.btn-primary-customized {
    color: #337ab7;
    background-color: #fff;
    border-color: #337ab7;
}

.btn-warning-customized {
    color: #f0ad4e;
    background-color: #fff;
    border-color: #eea236;
}

.custom-button {
    margin-top: -67px;
    position: absolute;
    margin-left: 168px;
}

.custom-ok-button {
    width: 94px;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin {
    margin-bottom: 10px;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.custom-checkbox {
    margin-bottom: 10px;
}

input[readonly] {
    background-color: white;
}

input::-webkit-input-placeholder {
    color: #333 !important;
}

input:-moz-placeholder {
    /* Firefox 18- */
    color: #333 !important;
}

input::-moz-placeholder {
    /* Firefox 19+ */
    color: #333 !important;
}

input:-ms-input-placeholder {
    color: #333 !important;
}

.navbar-fixed-top {
    top: -70px;
    /* you'll have to figure out the exact number here */
}

.navbar-fixed-top,
.navbar-fixed-bottom {
    position: relative;
    /* this can also be static */
}
