<h3 class="text-left">Neue Anfragen</h3>

<table class="table table-striped">
    <tr>
        <th width="200">Eingangsdatum</th>
        <th>Medikament</th>
        <th>Patient</th>
        <th>Ort</th>
        <th>&#160;</th>
    </tr>
    <tr *ngFor="let row of prescriptions | filter:'new'">
        <td align="left">{{row.createdAt | date: 'dd.MM.yyyy, HH:mm'}}</td>
        <td align="left">{{row.text}}</td>
        <td align="left">{{row.patient.lastName}}, {{row.patient.firstName}}</td>
        <td align="left">{{row.location}}</td>
        <td align="right">
            <button class="btn btn-sm btn-warning-customized btn-edit" (click)="lockAndOpen(row.id)" [disabled]="!canEdit(row)">
                Bearbeiten
            </button>
            <a class="btn btn-sm btn-default" [routerLink]="['/prescriptions', row.id ]">Ansehen</a>

            <button class="btn btn-sm btn-danger-customized" (click)="unlock(row.id)" *ngIf="isAdmin && row.user">Entsperren</button>
            <small>{{row.lockedBy}}</small>
        </td>
    </tr>
</table>

<h3 class="text-left">Erledigt</h3>

<table class="table table-striped">
    <tr>
        <th width="200">Eingangsdatum</th>
        <th width="200">Erledigt am</th>
        <th>Medikament</th>
        <th>Patient</th>
        <th>Ort</th>
        <th>&#160;</th>
    </tr>
    <tr *ngFor="let row of prescriptions | filter:'done' ">
        <td align="left">{{row.createdAt | date: 'dd.MM.yyyy, HH:mm'}}</td>
        <td align="left">{{row.updatedAt | date: 'dd.MM.yyyy, HH:mm'}}</td>
        <td align="left">{{row.text}}</td>
        <td align="left">{{row.patient.lastName}}, {{row.patient.firstName}}</td>
        <td align="left">{{row.location}}</td>
        <td align="right">
            <button class="btn btn-sm btn-danger-customized" (click)="remove(row.id)">Löschen</button>
            <a class="btn btn-sm btn-default" [routerLink]="['/prescriptions', row.id ]">Ansehen</a>
        </td>
    </tr>
</table>