<div *ngIf="entry">
    <h1 align="left">Rezeptanfrage {{state.edit ? 'bearbeiten' : 'anzeigen'}}
        <div class="btn-box-right" align="right">
            <button class="btn btn-danger-customized" *ngIf="state.edit" (click)="remove(entry.id)">Löschen</button>
            <button class="btn btn-default" *ngIf="state.edit" (click)="unlock(entry.id)">Entsperren </button>
        </div>
    </h1>
    <div class="row" align="left">
        <small class="col-sm-10">Erstellt am: {{entry.createdAt | date :'dd.MM.yyyy, HH:mm'}}</small>
    </div>
    <div class="row" align="left">
        <small class="col-sm-10">Zuletzt geändert: {{entry.updatedAt | date :'dd.MM.yyyy, HH:mm'}}</small>
    </div>

    <hr>

    <h3 align="left">Status</h3>
    <p align="left">{{entry.state | filter:'state'}}</p>

    <h3 align="left">Text</h3>
    <p align="left">{{entry.text}}</p>

    <!--span dropdown>
    <a href id="simple-dropdown" dropdownToggle>
      Click me for a dropdown, yo!
    </a>
    <ul class="dropdown-menu" dropdownMenu aria-labelledby="simple-dropdown">
      <li *ngFor="let choice of metadata.locations">
        <a class="dropdown-item" href="#">{{choice}}</a>
      </li>
    </ul>
  </span-->

    <h3 align="left">Zustellung</h3>
    <div class="dropdown" *ngIf="state.edit" align="left" dropdown>
        <button class="btn btn-default" type="button" dropdownToggle>
        {{entry.location ? entry.location : 'Zusendung'}} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdown-list" dropdownMenu>
            <li role="menuitem" [hidden]="!entry.sendByLetter"> <a (click)="selectDelivery(entry.id, '')">Zusendung</a> </li>
            <li class="divider dropdown-divider" [hidden]="!entry.sendByLetter"> </li>
            <h6 class="dropdown-header">Abholung an</h6>
            <li role="menuitem" (click)="selectDelivery(entry.id, location)" *ngFor="let location of metadata.locations"><a>{{location.name}}</a></li>
        </ul>
    </div>
    <p align="left" *ngIf="!state.edit">{{entry.location}}</p>

    <h3 align="left">Patient</h3>
    <div class="row" align="left">
        <label class="col-sm-2">Name</label>

        <p class="col-sm-10">{{entry.patient.firstName}} {{entry.patient.lastName}}</p>
    </div>
    <div class="row" align="left">
        <label class="col-sm-2">Adresse</label>

        <p class="col-sm-10">{{entry.patient.street}} {{entry.patient.streetNumber}} <br> {{entry.patient.zipCode}} {{entry.patient.city}}
        </p>
    </div>
    <div class="row" align="left">
        <label class="col-sm-2">Telefon</label>

        <p class="col-sm-10">{{entry.patient.phone1}} <br> {{entry.patient.phone2}}</p>
    </div>
    <div class="row" align="left">
        <label class="col-sm-2">Versicherung</label>

        <p class="col-sm-10">{{entry.patient.insurance}}</p>
    </div>
    <div class="row" align="left">
        <label class="col-sm-2">Email</label>

        <p class="col-sm-10">{{entry.patient.email}}</p>
    </div>
    <div align="left">
        <button class="btn btn-primary-customized" (click)="confirm(entry.id)" *ngIf="state.edit">Bestätigen
    </button>
    </div>
</div>