<div class="row" align="left">
    <div class="col-md-6">
        <h3 class="text-left">Neue Terminanfragen</h3>

        <table class="table table-striped table-bordered">
            <tr>
                <th width="140">Eingangsdatum</th>
                <th>Details</th>
            </tr>
            <tr *ngFor="let row of appointments | filter:'new' ">
                <td>{{row.createdAt | date: 'dd.MM.yyyy, HH:mm'}}</td>
                <td>
                    <div class="pull-right">
                        <button class="btn btn-sm btn-warning-customized btn-edit" (click)="lockAndOpenAppointment(row.id)" [disabled]="!canEdit(row)">
                            Bearbeiten
                        </button>
                        <br>
                        <small>{{row.lockedBy}}</small>
                    </div>
                    <div class="content">
                        {{row.patient.lastName}}, {{row.patient.firstName}}
                        <br> {{row.patient.insurance}}
                        <br>
                        <strong>
                            {{row.topic}}<br>
                            <span *ngIf="row.doctor">bei {{row.doctor}}</span>
                        </strong>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div class="col-md-6">
        <h3 class="text-left">Neue Rezeptanfragen</h3>

        <table class="table table-striped table-bordered">
            <tr>
                <th width="140">Eingangsdatum</th>
                <th>Details</th>
            </tr>
            <tr *ngFor="let row of prescriptions | filter:'new'">
                <td>{{row.createdAt | date: 'dd.MM.yyyy, HH:mm'}}</td>
                <td>
                    <div class="pull-right">
                        <button class="btn btn-sm btn-warning-customized btn-edit" (click)="lockAndOpenPrescription(row.id)" [disabled]="!canEdit(row)">
                            Bearbeiten
                        </button>
                        <br>
                        <small>{{row.lockedBy}}</small>
                    </div>

                    <div class="content">
                        {{row.patient.lastName}}, {{row.patient.firstName}}
                        <br> {{row.patient.insurance}}
                        <br>
                        <strong>{{row.text}}</strong>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>

<div class="row" align="left">
    <div class="col-md-6">

        <h3 align="left">
            <ngPluralize [count]="result.length" [when]="{'0': 'Keine Terminanfragen warten auf Bestätigung',
                                  'one': 'Eine Terminanfrage wartet auf Bestätigung',
                                  'other': '{} Terminanfragen warten auf Bestätigung'}">
            </ngPluralize>
        </h3>
        <table class="table table-striped table-bordered">
            <tr>
                <th width="140">Eingangsdatum</th>
                <th>Details</th>
            </tr>
            <tr *ngFor="let row of appointments | filter:'waiting'">
                <td>{{row.createdAt | date: 'dd.MM.yyyy, HH:mm'}}</td>
                <td>
                    <div class="pull-right">
                        <button class="btn btn-sm btn-warning-customized btn-edit" (click)="lockAndOpenAppointment(row.id)" [disabled]="!canEdit(row)">
                            Bearbeiten
                        </button>
                        <br>
                        <small>{{row.lockedBy}}</small>
                    </div>
                    <div class="content">
                        {{row.patient.lastName}}, {{row.patient.firstName}}
                        <br> {{row.patient.insurance}}
                        <br>
                        <strong>
                            {{row.topic}}<br>
                            <span *ngIf="row.doctor">bei {{row.doctor}}</span>
                        </strong>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>