<div class="alert alert-danger alert-dismissible" role="alert" *ngIf="errors && errors.length > 0">
    <button type="button" class="close" aria-label="Close" (click)="errors.length=0">
        <span aria-hidden="true">&times;</span></button>
    <strong>Fehler:</strong>
    <ul>
        <li *ngFor="let error of errors">{{error}}</li>
    </ul>
</div>